{% extends "base.html" %}

{% block title %}
    SAR Records
{% endblock %}



{% block content %}
    <div id="dynamic-sar-list">

    {% include 'dynamic-sar-list.html' %}

    </div>

   <script>
    $(document).ready(function() {
    function updateSarDetails() {
        $.ajax({
            url: '/update_sar_list',
            type: 'GET',
            success: function(data) {
                $('#dynamic-sar-list').html(data);  // Replace the content of the div
            }
        });
    }
    updateSarDetails();  // Do it once immediately
    setInterval(updateSarDetails, 5000);  // Then every 5 seconds
});

</script>
{% endblock %}